<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              fontFamily: {
                sans: ['Ubuntu', 'sans-serif']
              }
            }
          }
        }
    </script>
    <script src="../public/js/script.js" defer></script>
    <title>QR Code Generator</title>
</head>
<body>
    <form action="/generated" method="post">
        <input type="url" id="url" name="url" placeholder="Enter URL"><br>
        <button type="submit">Generate QR Code</button>
    </form>
</body>
</html>